
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}


input[type="email"],
input[type="password"],
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkmagenta;
}

label {
    font-weight: bold;
    color: #333;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.request-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
    padding: 20px;
}

p {
    color: #555;
    margin-bottom: 20px;
}


h1 {
    color: #333;
    text-align: center;
}
div.message{
    background-color: black;
    color: yellow;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif; 
    margin-bottom: 20px;
}

.request-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.request-card p {
    margin: 8px 0;
    color: #555;
}

.request-card strong {
    color: #333;
}

.request-image {
    max-width: 100%;
    max-height: 150px; 
    object-fit: cover;
    border-radius: 4px;
    margin-top: 10px;
}

